<launch>
  <node name="usb_cam_ee" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/hand_cam" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
    <param name="contrast" value="202" />
    <param name="autofocus" value="true" />
    <param name="framerate" value="15" />
    <param name="autoexposure" value="false" />
    <param name="exposure" value="254" />

  </node>
  <!--
  <node name="image_view_ee" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/usb_cam_ee/image_raw"/>
    <param name="autosize" value="true" />
  </node>
  -->
</launch>
