<launch>
  <arg name="marker_size" default="12.0" />
  <arg name="max_new_marker_error" default="0.04" />
  <arg name="max_track_error" default="0.1" />
  <arg name="cam_image_topic" default="/camera/image_rect_color" />
  <arg name="cam_info_topic" default="/camera/camera_info" />	
  <arg name="output_frame" default="/real_camera_left" />

  <node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/cam_left" />
    <param name="image_width" value="800" />
    <param name="image_height" value="600" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="real_camera_left" />
    <param name="io_method" value="mmap"/>
    <param name="autofocus" value="fault"/>
    <param name="framerate" value="30"/>
    <param name="camera_info_url" value="file:///home/sae/.ros/camera_info/head_camera.yaml"/>
    <remap from="image" to="/image_raw"/>
  </node>

  <node ns="camera" name="image_proc" pkg="image_proc" type="image_proc"/>
  <node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkersNoKinect" 
        respawn="false" output="screen" args="$(arg marker_size) 
                                              $(arg max_new_marker_error) 
                                              $(arg max_track_error) 
                                              $(arg cam_image_topic) 
                                              $(arg cam_info_topic) 
                                              $(arg output_frame)">
  </node>

</launch>
