<launch>
  <arg name="Marker" default="bundle"/>
  
  <arg name="marker_size" default="9.0" />
  <arg name="max_new_marker_error" default="0.04" />
  <arg name="max_track_error" default="0.05" />
  <arg name="cam_image_topic" default="/camera/image_rect_color" />
  <arg name="cam_info_topic" default="/camera/camera_info" />
  <arg name="output_frame" default="/real_camera_left" />
  
  <arg name="bundle_files" default=" $(find ar_track_alvar)/bundles/MarkerData_1.xml 
                                     $(find ar_track_alvar)/bundles/MarkerData_2.xml 
                                     $(find ar_track_alvar)/bundles/MarkerData_3.xml 
                                     $(find ar_track_alvar)/bundles/MarkerData_4.xml 
                                     $(find ar_track_alvar)/bundles/MarkerData_18_19_20.xml" />

  <arg name="host" default="192.168.1.2" />
  <node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/cam_left" />
    <param name="image_width" value="800" />
    <param name="image_height" value="600" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="real_camera_left" />
    <param name="io_method" value="mmap"/>
    <param name="autofocus" value="fault"/>
    <param name="framerate" value="30"/>
    <param name="camera_info_url" value="file:///home/sae/.ros/camera_info/head_camera.yaml"/>
    <remap from="image" to="/image_raw"/>
  </node>

  <node ns="camera" name="image_proc" pkg="image_proc" type="image_proc"/>

  <node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundlesNoKinect" 
        respawn="false" output="screen" args="$(arg marker_size) 
                                              $(arg max_new_marker_error) 
                                              $(arg max_track_error) 
                                              $(arg cam_image_topic) 
                                              $(arg cam_info_topic) 
                                              $(arg output_frame) 
                                              $(arg bundle_files)">
  </node>
</launch>
