<launch>
  <arg name="sim" default="false"/>

  <arg name="world_name" default=""/>

  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="map_file" default=""/>

  <!-- Gazebo -->
  <include if="$(arg sim)" file="$(find boot)/launch/gazebo.launch">
    <arg name="world_name" default="$(arg world_name)"/>
  </include>

  <!-- Robot TF -->
  <include file="$(find boot)/launch/tf.launch">
    <arg name="sim" default="$(arg sim)"/>
  </include>

  <!-- ur5 -->
  <include file="$(find boot)/launch/ur5.launch">
    <arg name="sim" default="$(arg sim)"/>
  </include>

  <!-- amcl -->
  <include unless="$(arg sim)" file="$(find boot)/launch/amcl.launch">
    <arg name="initial_pose_x" default="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" default="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" default="$(arg initial_pose_a)"/>
    <arg name="map_file" default="$(arg map_file)"/> 
  </include>

</launch>
