<launch>
  <arg name="ns" default=""/>
  <arg name="sim" default="false"/>
  <arg name="tf" default="false"/>
  
  <arg name="keyboard" default="false"/>
  <arg name="joystick" default="false"/>
  <arg name="joystick_autorepeat_rate" default="12"/>
  
  <arg name="lidar_x" default="0.000"/>
  <arg name="lidar_y" default="0.000"/>
  <arg name="lidar_z" default="0.000"/>
  <arg name="lidar_yaw" default="0.000"/>
  <arg name="lidar_pitch" default="0.000"/>
  <arg name="lidar_roll" default="0.000"/>

  <!-- GMapping -->
  <include file="$(find ghost)/launch/gmapping.launch"></include>
  
  <!-- Robot TF -->
  <include if="$(arg tf)" file="$(find ghost)/launch/tf.launch">
    <arg name="sim" value="$(arg sim)"/>
    <arg name="ns" value="$(arg ns)"/>
    <arg name="joint_pub" value="false"/>
  </include>

  <!--base_laser TF
  <node unless="$(arg sim)" pkg="tf" type="static_transform_publisher" name="base_laser_broadcaster" 
        args="$(arg lidar_x) 
              $(arg lidar_y) 
              $(arg lidar_z) 
              $(arg lidar_yaw) 
              $(arg lidar_pitch) 
              $(arg lidar_roll) 
              base_footprint agv_lidar 33" /> -->
  
  <!-- Movebase -->
  <!-- Parameters -->
  <rosparam file="$(find ghost)/param/amcl.yaml" ns="amcl"/>
  <rosparam file="$(find ghost)/param/move_base.yaml" ns="move_base" />
  <rosparam file="$(find ghost)/param/global_costmap.yaml" ns="move_base" />
  <rosparam file="$(find ghost)/param/local_costmap.yaml" ns="move_base" />
  <rosparam file="$(find ghost)/param/global_planner.yaml" ns="move_base" />
  <rosparam file="$(find ghost)/param/eband_local_planner.yaml" ns="move_base" />
  
  <node pkg="move_base" type="move_base" name="move_base">
  </node>
  
  <!-- SLAM Log -->
  <node pkg="rosbag" type="record" name="SLAM_log"
        args="record -o /tmp/slam_log /tf /scan /odom" />
</launch>
