<launch>
  <arg name="sim" default="false"/>
  <arg name="sick_ip" default="0.0.0.0" />
  
  <arg name="driver" default="imc"/>
  <arg name="keyboard" default="false"/>
  <arg name="joystick" default="true"/>

  <!-- Mapping -->
  <include file="$(find boot)/launch/gmapping.launch"></include>

  <!-- agv -->
  <include if="$(arg agv)" file="$(find boot)/launch/agv.launch">
    <arg name="sim" default="$(arg sim)"/>
    <arg name="driver" default="$(arg driver)"/>
    <arg name="keyboard" default="$(arg keyboard)"/>
    <arg name="joystick" default="$(arg joystick)"/>
  </include>

  <!-- Lidar -->
  <include unless="$(arg sim)" file="$(find boot)/launch/lidar.launch">
    <arg name="sick_ip" default="$(arg sick_ip)" />
  </include>

</launch>
