<launch>
  <arg name="sim"    default="true"/>
  <arg name="tf"     default="true"/>
  <arg name="ur5"    default="true"/>
  <arg name="agv"    default="true"/>
  <arg name="amcl"   default="true"/>
  <arg name="lidar"  default="true"/>
  <arg name="rosbag" default="true"/>
  
  <group if="$(arg tf)">
  </group>
  
  <group if="$(arg ur5)">
  </group>
  
  <group if="$(arg agv)">
    <!-- cartmove -->
    <rosparam file="$(find description)/param/parking_srv_params.yaml" command="load"/>
    
    <!-- parking -->
    <rosparam file="$(find description)/param/parking_srv_params.yaml" command="load"/>
  </group>
  
  <group if="$(arg amcl)">
  </group>
  
  <group if="$(arg lidar)">
  </group>
  
  <group if="$(arg rosbag)">
  </group>
  
</launch>
