<launch>
  <arg name="ns" default=""/>
	<arg name="config" default="$(find ghost)"/>
  <arg name="scan_topic" default="scan" />
  <arg name="output" default="screen"/>

  <!-- Parameters -->
  <rosparam file="$(arg config)/param/gmapping.yaml" ns="gmapping"/>

  <node pkg="gmapping" type="slam_gmapping" name="gmapping" output="$(arg output)">
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>
</launch>
