<launch>
  <arg name="output" default="log"/>
  <arg name="sweep" default="false" />
  <arg name="sick_ip" default="0.0.0.0" />
  <arg name="sweep_port" default=""/>

  
  <node unless="$(arg sweep)" pkg="lms1xx" name="lms1xx" type="LMS1xx_node">
    <param name="host" value="$(arg sick_ip)" />
    <param name="frame_id" value="base_laser" />
    <param name="range_min" value="$(arg range_min)"/>
  </node>
  
  <include if="$(arg sweep)" file="$(find boot)/sweep_ros/sweep_arg.launch">
    <arg name="sweep_port" value="$(arg sweep_port)"/>
  </include>
  
  <!-- 
  <include if="$(arg sweep)" file="$(find boot)/rplidar_ros/rplidar.launch">
    <arg name="output" value="$(arg output)"/>
    <arg name="node_name" value="$(arg node_name)"/>
  </include> 
  -->
</launch>
