<launch>
  <arg name="ns" default=""/>
  <arg name="config" default="$(find ghost)"/>

  <arg name="output" default="log"/>
  <arg name="keyboard" default="false"/>
  <arg name="joystick" default="false"/>

  <!-- Parameters -->
  <rosparam file="$(arg config)/param/joystick.yaml" ns="joystick"/>
  
  <!-- Joystick driver -->
  <node pkg="joy" type="joy_node" name="joy_node">
  	<param name="deadzone" value="0.1"/>
  </node>

  <!-- Joystick -->
  <node if="$(arg joystick)" pkg="ghost" type="joy2cmd_vel.py" name="joy2cmd_vel"/>

  <!-- Keyboard -->
  <node if="$(arg keyboard)" pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="keyboard" output="$(arg output)"/>
</launch>
