<launch>
  <arg name="output" default="log"/>
  <arg name="map_file" default=""/>
  <arg name="amcl_map_file" default=""/>
  
  <!-- Parameters -->
  <rosparam file="$(find ghost)/param/amcl.yaml" ns="amcl"/>
  <rosparam file="$(find ghost)/param/move_base_ml.yaml" ns="move_base" />
  <rosparam file="$(find ghost)/param/global_costmap.yaml" ns="move_base" />
  <rosparam file="$(find ghost)/param/local_costmap_ml.yaml" ns="move_base" />
  <rosparam file="$(find ghost)/param/global_planner.yaml" ns="move_base" />
  <rosparam file="$(find ghost)/param/eband_local_planner.yaml" ns="move_base" />


  <!-- Map Server -->
  <node name="map_server" pkg="map_server" type="map_server" output="$(arg output)"
    args="$(arg map_file)">
  </node>
  
  <!-- AMCL -->
  <include file="$(find ghost)/launch/amcl.launch">
    <arg name="amcl_map_file" value="$(arg amcl_map_file)"/>
  </include>

  <!-- Movebase -->
  <!-- <node pkg="move_base" type="move_base" name="move_base" respawn="false" output="$(arg output)"> -->
  <node pkg="move_base" type="move_base" name="move_base" respawn="false" output="screen">
  </node>
  
  
  <!-- <include file="$(find ghost)/param/dynamic_reconfig.launch"/> -->
</launch>

