<launch>
  <arg name="output" default="log"/>
  <arg name="sim" default="false"/>
  
  <!-- Parameters -->
  <rosparam file="$(find description)/param/hardware.yaml" ns="hardware"/>
  

  <!-- Battery Status -->
  <node pkg="battery_status" name="battery_status_node" type="battery_status_node" 
        output="$(arg output)" required="true"/>

  <!-- Charging Monitor -->
  <node pkg="charging_monitor" name="charging_monitor" type="charging_monitor_node"
        output="$(arg output)"/>
</launch>
